[credential "https://github.com"]
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = !/usr/bin/gh auth git-credential
[user]
	email = matchaboar@pm.me
	name = matchaboar
[safe]
	directory = %(prefix)///wsl.localhost/Ubuntu-24.04/home/boarcoder/github/srajob
